h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    background-color: aqua;
    color: blue;
    text-shadow: 2px 2px 3px red, 3px 3px 2px pink;
}